*{
    margin:  0px;
    padding:  0px;
    box-sizing: border-box;
}

/* Navbar styles are here */
.navbar {  
    display: grid;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgb(4, 3, 3);
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}
.cart{
    background: #fff;
    position:relative;color:#212528;
    font-size: 50px;
    border-radius:30px;
    padding: 5px;

}
.cartAmount{
    position:absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color:white;
    padding: 3px;
    border-radius:3px;
}
/* !Shop Items styles are here  */
.shop{
display: grid;
gap:30px;
grid-template-columns: repeat(4,223px);
justify-content: center;
}
.item{
border: 2px solid #212529;
border-radius: 4px;
}